<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- <link rel="stylesheet" href="{ %static 'nobiasapp/styles.css'%}"> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    </head>

    <body>
        <div class="box-link">
            <p>Hello</p>


            <header class="header">

<a href="#" class="logo"> logo</a>


<nav class="navbar">
    <a href="#">home</a>
    <a href="#">About</a>
    <a href="#"> Contacts</a>
    <a href="#"> Services</a>
    
</nav>
            </header>

        </div>
    </body>

</html>