{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Successfuly Submitted Link</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <style>
        .box {
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            line-height: 30px;
            padding-top: 25px;
        }
    </style>

    <body>
        <h1>NoBias</h1>
        <div class="box">
            <h2>Successfully submitted links</h2>
            <ul style="list-style-type: none; padding: 0; ">
                {% for link in thisVar %}
                <li
                    style="font-family: 'Open Sans', sans-serif; color: #003366; word-wrap: break-word;line-height: 40px;">
                    {{ link }}
                </li>
                {% endfor %}
            </ul>
        </div>


    </body>

</html>