@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right top, #003366, #004080, #005399, #4885b3, #9bccef);
    background-size: 300% 300%;
    min-height: 99vh;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

p {
    color: #ddd;
}

.linkBox {
    background-color: rgba(256, 256, 256, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.header {
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;

}

.header::after {

    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, pink, transparent);
    transition: .5s;
}

.header:hover::after {

    left: 100%;
}


.navbar a {
    position: relative;
    font-size: 1.15rem;
    color: #cdbab2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .5s;
    padding: 6px 20px;

}

.navbar a:hover {

    color: #0ef;
}

.navbar a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;

}

.navbar a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;

}

#check {

    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;


}

/* BREAKPOINTS */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;

    }

}

@media (max-width: 768px) {
    .icons {

        display: inline-flex;


    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {

        position: absolute;
        top: 100%;
        left: 0;
        width: 300%;
        height: 20%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;

    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

.footerContainer {
    width: 100%;
    position: sticky;
    bottom: 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;

}

.socialIcons a:hover {

    background-color: #0ef;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: pink;
    transition: 0.5s;
}

/* 
.footerNav {
    margin: 10px 0;
}

.footerNav ul {

    display: flex;
    justify-content: center;


}

.footerNav ul li a {

    color: white;
    margin: 30px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;



}

.footerNav ul li a:hover {
    opacity: 1;
} */

.footerBottom {
    padding: 5px;
    text-align: center;
}

.footerBottom p {

    color: white;
}

